.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");


